[flake8]
max-line-length = 120
ignore = 
    # whitespace before :
    E203,
    # may be undefined, or defined from star imports
    F405,
    # line break before binary operator
    W503
per-file-ignores = 
    # line too long
    */migrations/*:E501