[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
unittest2 = "*"
black = "*"

[packages]
dj-database-url = ">=1.0.0,<2.0"
Django = ">=4.1.6,<4.2"
djangorestframework = ">=3.14,<3.15"
django-cors-headers = ">=3.13,<3.14"
django-debug-toolbar = ">=3.7,<3.8"
django-filter = ">=22.1,<23.0"
django-guardian = ">=2.4,<2.5"
djangorestframework-guardian = "==0.3.0"
django-multiselectfield = "==0.1.12"
django-oauth-toolkit = "<2.0.0"
django-storages = ">=1.13.1,<1.14"
drf-writable-nested = "==0.7.0"
gunicorn = ">=20.1,<21.0"
psycopg2-binary = ">=2.9.4,<3.0"
pytz = ">=2022.4,<2023.0"
sentry-sdk = ">=1.9.10,<2.0"
python-dateutil = ">=2.8.2,<3.0"
social-auth-app-django = ">=5.0,<6.0"
django-environ = "==0.9.0"
django-tailwind = "==3.4.0"
drf-spectacular = ">=0.24,<0.25"
django-redis = ">=5.2,<6.0"
pillow = ">=9.2,<10.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
