[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
codecov = "*"
unittest2 = "*"
black = "*"

[packages]
dj-database-url = "*"
Django = ">=3.2.12,<4.0"
djangorestframework = ">=3.11"
django-cors-headers = ">=3.2.1"
django-debug-toolbar = ">=2.2"
django-filter = ">=2.4.0"
django-guardian = "*"
djangorestframework-guardian = "==0.3.0"
django-multiselectfield = "*"
django-oauth-toolkit = "*"
django-storages = "*"
drf-writable-nested = "*"
gunicorn = "*"
psycopg2-binary = ">=2.9.1"
pytz = "*"
sentry-sdk = "*"
python-dateutil = "*"
social-auth-app-django = "*"
django-environ = "*"
django-tailwind = "*"
drf-spectacular = "*"
django-redis = "*"
pillow = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
